In [1]:
import pandas

In [1]:
events = pandas.read_csv("/ServersExercise/Data/connectivity_events.csv")

NameError: name 'pandas' is not defined

In [2]:
import pandas
events = pandas.read_csv("/ServersExercise/Data/connectivity_events.csv")

In [25]:
servers = pandas.read_csv("/ServersExercise/Data/servers.csv")

In [21]:
events.columns = ['date','device_id','user_id','server_id','connection_state']

In [70]:
index = 0
# get dates column
all_days = events['date'].dt.day
# first day value
first_day = all_days[0]
# iterate through data as long as day is the same
for day in all_days:
    if day != first_day:
        break
    index += 1
# one day events list
one_day_events = events[0:index]

# # print
# one_day_events

In [71]:
one_day_events

                   date  device_id  user_id  server_id  connection_state
0   2015-05-31 14:30:00        101        1          2              True
1   2015-05-31 14:30:00        102        1          2              True
2   2015-05-31 14:30:00        103       26          2              True
3   2015-05-31 14:30:00        104        1          2              True
4   2015-05-31 14:30:00        105        1          2              True
5   2015-05-31 14:30:00        106        1          2              True
6   2015-05-31 14:30:00         10        6          2              True
7   2015-05-31 14:30:00        107        1          2              True
8   2015-05-31 14:30:00        108       27          2              True
9   2015-05-31 14:30:00        109        1          2              True
10  2015-05-31 14:30:00        110        1          2              True
11  2015-05-31 14:30:00         11        1          2              True
12  2015-05-31 14:30:00        111       28          2              True
13  2015-05-31 14:30:00          1        1          2              True
14  2015-05-31 14:30:00        112        1          2              True
15  2015-05-31 14:30:00        113        1          2              True
16  2015-05-31 14:30:00        114        1          2              True
17  2015-05-31 14:30:00        115        1          2              True
18  2015-05-31 14:30:00        116        1          2              True
19  2015-05-31 14:30:00        117        1          2              True
20  2015-05-31 14:30:00        118        1          2              True
21  2015-05-31 14:30:00        119        1          2              True
22  2015-05-31 14:30:00        120        1          2              True
23  2015-05-31 14:30:00        121        1          2              True
24  2015-05-31 14:30:00         12        1          2              True
25  2015-05-31 14:30:00        122        1          2              True
26  2015-05-31 14:30:00        123        1          2              True
27  2015-05-31 14:30:00        124        4          2              True
28  2015-05-31 14:30:00        125        1          2              True
29  2015-05-31 14:30:00        126       29          2              True
..                  ...        ...      ...        ...               ...
332 2015-05-31 21:30:00        267       58          2             False
333 2015-05-31 21:30:00        268        1          2             False
334 2015-05-31 21:30:00        270        1          2              True
335 2015-05-31 21:30:00        271       59          2              True
336 2015-05-31 21:30:00         67        4          2              True
337 2015-05-31 21:30:00          9        5          2              True
338 2015-05-31 22:30:00        185        1          2             False
339 2015-05-31 22:30:00        232        4          2             False
340 2015-05-31 22:30:00        249        5          2             False
341 2015-05-31 22:30:00        250        5          2             False
342 2015-05-31 22:30:00        254        4          2              True
343 2015-05-31 22:30:00        255        5          2             False
344 2015-05-31 22:30:00        268        1          2              True
345 2015-05-31 22:30:00         67        4          2             False
346 2015-05-31 22:30:00         79        1          2             False
347 2015-05-31 22:30:00          9        5          2             False
348 2015-05-31 23:30:00        122        1          2             False
349 2015-05-31 23:30:00        129        5          2              True
350 2015-05-31 23:30:00        139        1          2              True
351 2015-05-31 23:30:00        156       35          2             False
352 2015-05-31 23:30:00        249        5          2              True
353 2015-05-31 23:30:00        250        5          2              True
354 2015-05-31 23:30:00        255        5          2              True
355 2015-05-31 23:30:00        258        4          2              True
356 2015-05-31 23:30:00        262        4          2              True
357 2015-05-31 23:30:00        264        4          2              True
358 2015-05-31 23:30:00        272        1          2              True
359 2015-05-31 23:30:00         67        4          2              True
360 2015-05-31 23:30:00         91        1          2             False
361 2015-05-31 23:30:00          9        5          2              True

[362 rows x 5 columns]